/*------- Google Font import -----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');


:root
{
	/*---- colors -------*/
	--primary-color: hsl(33, 99%, 50%);
	--secondary-color: hsl(67, 98%, 53%);
	--third-color: #ffffff;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 16px;
}

body
{
	font-family: 'Poppins', sans-serif;
}

img
{
	
	max-width: 100%;
	height: auto;
}

.container
{
	padding: 60px 10px;
}

.white
{
	color: var(--third-color);
}

.btn
{
	display: block;
	width: 100%;
	background: var(--primary-color);
	border: none;
	border-radius: 0.2rem;
	padding: 1rem;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover
{
	transform: translateY(10px);
}

.btn a
{
	color: var(--third-color);
	font-size: 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
}

.heading
{
	color: rgb(248, 94, 11);
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
    font-style: italic;
    
}

/*---------- Top bar starts -----------*/
.top-bar
{
	padding: 12px 20px;
}

.notification
{
	color:rgb(251, 26, 10);
	font-size: 1.1rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}
/*---------- Top bar ends -----------*/


/*---------- Header section start ----------*/
.header
{
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(24, 30, 3, 0.2)), url(https://i.pinimg.com/originals/c8/67/3a/c8673ad4c46ade00cf3bd0049db62b16.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.subheading
{
	color: rgb(111, 196, 54);
	font-size: 1.3rem;
	font-weight: 800;
	text-align: center;
}

.main-heading
{
	color: rgb(255, 255, 255);
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	padding: 28px 0;
}

.inner-row
{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.inner-row .col .date, .inner-row .col .time
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--third-color);
	font-weight: 600;
	font-size: 1.1rem;
}

.date i, .time i
{
	color: var(--third-color);
	background: var(--primary-color);
	font-size: 1.6rem;
	padding: 8px;
	border: none;
	border-radius: 0.3rem;
	margin: 1rem 0;
    font-weight: 200;
}

.para-line
{
	font-size: 1.2rem;
	text-align: center;
	padding: 1rem 0;
    font-weight: 600;
}

.form-area
{
	background: #f3efef;
	padding: 1.2rem;
}

.form-area .form-heading
{
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

.form-area hr
{
	color: #afacac;
	margin: 20px 0;
}

.input-field
{
	margin: 1rem 0;
	padding: 0 0.5rem;
}

.input-field label
{
	font-size: 0.9rem;
}

.input-field input
{
	width: 100%;
	background: var(--third-color);
	border: 1px solid #d4d4d4;
	font-size: 0.9rem;
	font-weight: 400;
	padding: 0.8rem;
}
/*--------- Header section end ----------*/


/*---------- book now btn section start ----------*/
.topics
{
	background: #F6F6F6;
}

.topic-btn-area
{
	display: flex;
	justify-content: center;
}

.topic-btn-area .btn
{
	width: fit-content;
}
/*---------- book now btn section end ----------*/


/*----------- host section starts ----------*/
.host-feature
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.host-feature i
{
	color: var(--third-color);
	background: var(--primary-color);
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding: 0.4rem;
	border: none;
	border-radius: 5px;
}

.host-feature .feature-name
{
	font-size: 1.1rem;
	font-weight: 600;
}
/*----------- host section ends ----------*/

/*------------ Partner section end ------------*/



/*----------- Footer section start ------------*/
.contact .container
{
	background: rgb(114, 108, 108);
  	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contact h2{
	color: #ffff;
}

.footer .container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact .container .heading
{
	color: rgb(118, 173, 182);
    font-weight: 50;
    padding: 8px;
    justify-content: center;
	

}

.btn
{
	color: var(--third-color);
	font-weight: 500;
	text-transform: uppercase;
	width: fit-content;
}
/*----------- Contact section end ------------*/

  
  @media only screen and (max-width: 768px){
	.contact-center{
	  grid-template-columns: 1fr;
	}
  
	.contact-center .left{
	  text-align: left;
	}
  
	.left div .content h3{
	  font-size: 1.6rem;
	}
  
	.left div .content span{
	  font-size: 1.5rem;
	}
  }

/*------------------------------------------------*/
/*------------- Desktop size ---------------------*/
/*------------------------------------------------*/
@media screen and (min-width: 789px)
{
	.container
	{
		padding: 5rem;
	}

	.row
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.row .col
	{
		width: 100%;
	}

	.heading
	{
		font-size: 2.4rem;
	}

	/*---------- Top bar starts -----------*/
	.top-bar
	{
		padding: 12px 20px;
	}

	.notification
	{
		font-size: 1rem;
	}
	/*---------- Top bar ends -----------*/


	/*---------- Header section start ----------*/
	.header
	{
		background:linear-gradient(0deg, rgba(200, 47, 47, 0.2), rgba(5, 4, 4, 0.5)),  url(https://i.pinimg.com/originals/c8/67/3a/c8673ad4c46ade00cf3bd0049db62b16.jpg);
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.header > .container
	{
		height: 100vh;
		display: flex;
	}

	.header .container .row
	{
		gap: 5rem;
	}

	.header .container .row .header-content
	{
		width: 100%;
	}

	.header .container .row .header-form
	{
		width: 66%;
	}

	.header-content .subheading
	{
		text-align: left;
	}

	.header-content .main-heading
	{
		font-size: 3.2rem;
		font-weight: 600;
		text-align: left;
	}

	.header-content .main-heading span
	{
		color: var(--primary-color);
	}

	.inner-row
	{
		justify-content: flex-start;
		gap: 3rem;
	}

	.inner-row .col
	{
		width: fit-content;
	}

	.inner-row .col .date, .inner-row .col .time
	{
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	.para-line
	{
		text-align: left;
		
	}

	.form-row
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0;
		padding-top: 0;
	}

	.booking-form .form-row .col
	{
		width: 100%;
	}

	.form-area
	{
		padding: 2rem;
	}

	.booking-form .form-row .col .input-field
	{
		margin-bottom: 0;
	}

	.booking-form .input-field
	{
		margin: 1rem;
	}

	.booking-form .input-field .btn
	{
		width: 100%;
	}
	/*---------- Header section end ----------*/


	/*---------- Topics section start ----------*/
	.topics .container .para-line
	{
		text-align: center;
		max-width: 55%;
		margin: 0 auto;
		color:rgb(253, 56, 56);
	}

	.topics-row
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.topics-row .col
	{
		padding: 3rem;
	}

	.topics-row .col .para-line
	{
		max-width: 100%;
		text-align: left;
		
	}
	/*---------- Topics section end ----------*/


	/*----------- host section starts ----------*/
	.host .container .row
	{
		gap: 3rem;
	}

	.host-img
	{
		border: none;
		border-radius: 8px;
		width: 350px;
		position: center;
	}

	.host-content-col .subheading, .host-content-col .heading
	{
		text-align: left;
	}

	.host-content-col .para-line
	{
		margin: 0;
		padding: 0;
	}

	.host-feature
	{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem 0;
	}

	.host-feature i
	{
		font-size: 1.8rem;
		margin-bottom: 0;
	}

	.host-feature .feature-name
	{
		padding-left: 0.8rem;
	}

	/*----------- host section ends ----------*/

}

footer {
	background-color: #242121;
	color: #ffffff;
	padding: 10px;
	text-align: center;
  }