/*--------- Google Font import -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');


:root
{
	/*---- colors -------*/
	--primary-color: #f9980f;
	--secondary-color: #1a1a1a;
	--third-color: #ffffff;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 16px;
	
}

body
{
	font-family: 'Poppins', sans-serif;
	background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
	background-repeat: no-repeat;
	background-size: cover;
}    


.heading
{
	color: var(--secondary-color);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
}

/*--------- Thanks content starts --------------*/
.thanks-content i
{
	color: #52ff1e;
	font-size: 8rem;
	padding: 30px;
	text-align: center;
	width: 100%;
}

.thanks-content .main-heading, .thanks-content .para-line
{
	text-align: center;
	font-weight: 600;
	padding: 20px;
}

.thanks-content .main-heading
{
	font-size: 4rem;
	font-weight: 400;
	font-style: italic;
}







